<%= form_for @task do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
	<p>
		<%= f.label :user %> <br/>
		<%= f.select :user_id, User.all.collect {|p| [ p.username, p.id ] }%>
	</p>
	
	<p><%= f.submit %></p>
<% end %>
