<% title "Tasks" %>

<div id="date_for_timesheet">
	<% form_tag time_sheet_path do %>
		<p>
			Generate time sheet from
			<%= select_date @begin_sheet_date, :discard_day => true %>
			<%= submit_tag "Generate" %>
		</p>
	<% end %>
	
</div>

<table>
  <tr>
    <th width=25% >Description</th>
		<th width=50% >Entries</th>
  </tr>
  <% for task in @tasks %>
    <tr>
    	<td><%= task.description %></td>
			<td><ul><% task.entries.sort.each do |entry| %> 
				<li> At <%= entry.begin %> for <%=h pluralize entry.duration, 'hour' %> |
					 <%= link_to "Edit Entry", edit_task_entry_path(task, entry) %> | 
					 <%= link_to "Destroy Entry", task_entry_path(task, entry), :confirm => 'Are you sure you want to delete this entry?', :method => :delete  %> |</li>
			<% end %>
			</ul></td>
      <td><%= link_to "Add Entry", new_task_entry_path(task) %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
      <td><%= link_to "Edit Task", edit_task_path(task) %></td>
      <td><%= link_to "Destroy Task", task, :confirm => 'Are you sure you want to delete tis task?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Task", new_task_path(task) %></p>
