<% title "Task" %>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>
<p>
	<strong>User:</strong>
	<%= @task.user.username %>
</p>

<p>
	<strong>Entries:</strong>
	<ul>
		<% @task.entries.sort.each do |entry| %>
			<li> 
				At <%=h entry.begin %> for <%=h pluralize entry.duration, 'hour' %> |
				<%= link_to "Edit", edit_task_entry_path(@task, entry) %> |
				<%= link_to "Destroy", task_entry_path(@task, entry), :confirm => 'Are you sure?', :method => :delete %>
			</li>
		<% end %>
	</ul>
</p>

<p id='new_entry'>
	<strong><%= link_to "Add entry", new_task_entry_path(@task) %></strong>
</p>

<p>
  <%= link_to "Edit", edit_task_path(@task) %> |
  <%= link_to "Destroy", @task, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", tasks_path %>
</p>
